.container {
    padding: 0 0.5rem;
    width: 700px;
    margin: 0 auto;
}

.table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.table td {
    padding: 10px;
    border: 1px solid #000;
}

.inline {
    display: flex;
    align-items: center;
}

.inline .table {
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}